@import "src/assets/scss/variables";

.main-header {
  background-color: rgba(245, 252, 255, 1);
  box-shadow: 0 2px 2px -2px gray;
}

.row-search {
  height: 12vh
}

.sub-header {
  height: 10vh;
  align-items: center;

  &-button {
    position: relative;
    border: 0;
    width: 10vw;
    background: none;
    height: 100%;
    font-size: 16px;
    color: rgba(65, 65, 65, 1);
    font-weight: 400;
    transition: $baseTransition;

    &[class*='is-Active'] {
      font-weight: bold;
      color: $eco-blue-dark;
    }

    .line-navigation {
      background-color: $eco-blue-dark;
      height: 3px;
      position: relative;
      bottom: -10%;
      width: 60%;
      left: 20%;
    }
  }
}

.header {
  &-top-search {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    margin-right: 5px;
  }

  &-left-text {
    font-size: 15px;
    color: rgba(32, 35, 50, 1);
    border: 0;
    background: none;
    font-weight: 400;

    i {
      margin-right: 0.5vw;
      font-size: 20px;
      color: #7382C1;
    }
  }
}
